  /*css reset */
  body {
    margin: 0px;
    padding: 0px;
    background-image: url('IMG/pexels-leon-ardho-1552242.jpg');
    color: white;
    font-family: cursive;
    background-size: cover;

}

.left {
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 9px;
    line-height: 14px;
    font-size: medium;
    font-weight: 500;

}

.left img {
    width: 100px;
}

.left div {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    

}

.mid {
    display: block;
    width: 50%;
    margin: 20px auto;

}

.right {
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    padding: 34px 13px;
    font-size: 20px;
    font-weight: 900;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color:  rgba(245, 249, 11, 0.902);
}

.btn {
    margin: 6px;
    padding: 7px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-family: cursive;
    font-size: 15px;
    box-shadow: 3px 2px 1px rgba(245, 249, 11, 0.902);
}

.btn:hover {
    background-color: gainsboro;
    color: black;
    font-weight: bold;
}
.container{
    border: 5px solid rgb(250, 250, 250);
    margin: 34px 302px;
    padding: 7px ;
    width: 50%;
    border-radius: 6px;

    
}
.form-group input{
    color: #ecedd1c7;
    margin: 15px auto;
    display: block;
    padding: 7px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    height: 29px;
    background-color: transparent;
    font-size: large;
    font-weight: bolder;
    font-family: cursive;
}
h1{
    text-align: center;
    line-height: 53px;
    margin: 12px;
    font-style: normal;
    color: rgb(250, 249, 249);
    font-family: 'Times New Roman', Times, serif;
}
.container button{
    display: block; 
    width:420px;
    margin: 30px auto;
}